// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
	margin-left: 5px;
	margin-right: 5px;
	.comment {
		border: solid;
		border-color: #58ACFA;
		border-width: 1px;
		margin-bottom: -1px;
		padding: 5px;
	}
}
