<!DOCTYPE html>
<html ng-app='tApp'>
<head>
  <title>SimpleTwitEr</title>
  <!-- include: "type": "css", "files": "assets/stylesheets/**/*.css" -->
  <script type='text/javascript' src='http://code.jquery.com/jquery-2.1.1.min.js'></script>
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js'></script>
  <!-- include: "type": "js", "files": "assets/javascripts/**/*.js" -->
</head>
<body>
<header>
  <div>Twit.er</div>
  <span>
    <nav id='general'></nav>
	<user-nav></user-nav>
  </span>
</header>
<div id='notifications'>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
<div id="contentWrapper">
  <div id="content">
	<posts posts="posts"></posts>
  </div>
</div>
</body>
</html>
